body{
    font-family: 'Poppins', sans-serif;
    margin: 3px;
}
h1{
    font-size: 40px;
}
.orange-color{color: orange;}

.flexible-container{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.f-section{
    background-image: url(img/pngwing.com\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
}
.dream-big{
    background-image: url(img/pngwing.com\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: right top;
}
.experience-area{
    background-image: url(img/Rectangle\ 20.png);
    background-repeat: no-repeat;
    background-size: 170px 70px;
    background-position: left center;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 5px 5px 30px gray;
}
#ex-1{
    border-left: 5px solid tomato;
}
#ex-2{
    border-left: 5px solid rgb(65, 5, 246);
}
footer p{
    text-align: center;
}